<!DOCTYPE html>
<html>
<head>
    <title>The Palindrome Results!</title>
    <script>
        document.title = "The Palindrome Results!";
    </script>
</head>
<main>
    <h1>The Palindrome Results!</h1>
<div class={{testclass}}>
    <div class = "inputed">
        <p>The text you entered is: {{palindrome}}
            <br><br>
            Result:
        </p>
    </div>
    <p>{{res}}</p>
    <a class="link" href="/palindrome/static">Try another Palindrome</a>
</div>

</main>
</html>
