<!DOCTYPE html>
<html>
<head>
    <title>The Best Palindrome Checker in the World!</title>
    <link rel = "stylesheet" href="/public/site.css">
</head>
<body>
    {{{body}}}
<footer>
    <p>Made by Sharan Jotwani</p>
</footer>
</body>

</html>